<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="/">
    Projeto Alfabetiza Já <br />EMEF General Osório</a
  ><br />
  <button
    class="nav-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="/"> Página principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/">Cadastros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/">Relatórios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/ajuda/">Ajuda</a>"
      </li>
    </ul>
  </div>
</nav>
