{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Listagem de colaboradores{% endblock %}</h1>
<p>
    <form method="POST">
        <div class="form-group">
            <label for="form_nome">Nome</label>
            <input type="text" name="form_nome"
                placeholder="Nome do colaborador" class="form-control"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>
</p>

{% endblock %}